@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("/images/bg-header-desktop.png");
  background-repeat: no-repeat;
  background-size: contain;
}

@media (max-width: 576px) {
  body {
    background-image: url("/images/bg-header-mobile.png");
  }
}

#reference {
  animation-duration: 85s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: animation-zsk7zs;
  animation-timeline: auto;
  animation-range-start: normal;
  animation-range-end: normal;
}

.social-icon:hover {
  filter: invert(53%) sepia(68%) saturate(434%) hue-rotate(121deg)
    brightness(101%) contrast(94%);
}
